* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;

}

.principal {
    display: flex;
    flex-direction: column;
    color: white;

}

.layer-one{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2em;
    background-color: #494E6B;
}

.layer-one-picture {
    width: 20em;
}

.layer-one-texts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 37em;
}

.layer-one-texts h4 {
    text-transform: uppercase;
    font-size: 0.9rem;
}

.layer-one-texts h1 {
    font-size: 2.7rem;
    width: 50%;

    margin: 0.15em 0 0.5em 0;
}

.layer-one-texts p {
    font-size: .9rem;
    font-weight: lighter;
    line-height: 1.3rem;
}

.layer-one-buttons {
    display: flex;
    flex-direction: column;

    margin-top: 1em;
}

.layer-one-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;


    text-decoration: none;
    color: white;
    font-weight: 900;
    
    width: 90%;
    cursor: pointer;
    padding: 0.4em;
    border: none;
    border-radius: .3rem;
    transition: 0.5s;
    
    margin: 0.3em 0;
    
}

#layer-one-linkedin-button {
     background-color: #98878F;
}

#layer-one-github-button {
    background-color: #985E6D;
}

#layer-one-linkedin-button:hover, #layer-one-github-button:hover {
    background-color: #192231;

    
}

.layer-one-button p {
    flex-grow: 0.7;
    font-size: 1rem;
}



/* layer two */



.layer-two {
    display: flex;
    flex-direction: row;
    background-color: #192231;
    align-items: center;
    justify-content: space-around;

    padding: 2em;
}

.layer-two-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.layer-two-title h1 {
    font-size: 2.7rem;
    width: 50%;

    margin: 0.15em 0 0.5em 0;
}

.layer-two-title img {
    width: 20em;
    margin-top: 3em;
}

.layer-two-activities, .layer-four-sctivities {
    display: flex;
    flex-direction: column;
}

.general-activities-container {
    display: flex;
    flex-direction: column;

    padding: 1em;
    margin: 0.5em;
    border: .2em solid #FFD700;
    border-radius: 0.7em;
}

.year-activity {
    color: #FFD700;
    font-weight: 700;
}

.general-activities-text {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: .4em;
}

.general-activities-text p {
    font-weight: lighter;
    font-size: .9rem;
}

#layer-two-container-one, #layer-four-container-one, #layer-four-container-four {
    background-color:#494E6B;
}

#layer-two-container-two,#layer-two-container-four, #layer-four-container-two {
    background-color:#985E6D;
}

#layer-two-container-three, #layer-four-container-three {
    background-color: #98878F;
}




/* layer three */



.layer-three {
    display: flex;
    flex-direction: column; 
    background-color: #494E6B;
    align-items: center;

    padding: 2em;
}

.layer-three h1 {
    text-transform: uppercase;
    font-size: 1.8rem;
    margin-bottom: 0.7em;
}

.layer-three-experience {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    padding: 2em;
    margin: 0.5em;
    border: .2em solid #FFD700;
    border-radius: 0.7em;
    background-color: #192231;
}

.layer-three-experience-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;


    width: 20em;
    color:#FFD700;
}
.layer-three-experience-title h2 {
    margin-bottom: 0.5em;
}

.layer-three-experience p {
    width: 40em;
    line-height: 1.3rem;
}



/* layer four  */



.layer-four {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    padding: 2em;
    background-color: #192231;
}



.layer-four-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.layer-four-title h1 {
    font-size: 2.7rem;
    width: 60%;

    margin: 0.15em 0 0.5em 0;
}

.layer-four-title img {
    width:15em;
    margin-top: 3em;
}


/* layer five */

.layer-five {
    display: flex;
    flex-direction: column;

    padding: 2em;
    background-color: #494E6B;
}

.layer-five h1 {
    text-align: center;
    margin: 0.7em;
    text-transform: uppercase;
    font-size: 1.8rem;
}

.layer-five-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.layer-five-cardbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    height: 15em;
    width: 10em;
    padding: 1em;
    border: 0.25em solid #FFD700;
    border-radius: 0.5em;


}

.layer-five-cardbox img {
    width: 4em;
    margin: 1em;
}

.layer-five-cardbox h3 {
    font-weight: 400;
    font-style: italic;
    font-size: medium;
    color: #FFD700;
}

.layer-five-cardbox-experience-total {
    background-color:#192231;
    width: 90%;
}

.layer-five-cardbox-experience-total > div {
    background-color: #98878F;
    height: 1.2em;
}

#cardbox-experience-javascript {
    width: 50%;
}

#cardbox-experience-nodejs {
    width: 75%;
}

#cardbox-experience-typescript {
    width: 70%;
}

#cardbox-experience-mysql {
    width: 35%;
}

#cardbox-experience-sqlserver {
    width: 45%;
}

#cardbox-experience-java {
    width: 65%;
}

#cardbox-experience-reactjs {
    width: 55%;
}


